Package: com.ossies.batterycust
Name: BatteryCustomizer
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ossie
Author: Ossie
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
